<div class='row'>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1 class="d-block w-100 margin-0" alt="ABOUT TBFC">ABOUT</h1>
      </div>
    </div>
  </div>
</div>

<hr></hr>

<div class="row">
  <h2>History</h2>
  <p>It actually began in Topanga Canyon, California, thus the name, in Southern California's Santa Monica Mountains, home to writers, artists and lots of music people, a remote pocket of sylvan beauty just east of Malibu and the Pacific Ocean. A few old time and Bluegrass music-loving diehards are still around who can remember the first "Banjo Pickers and Open Fiddling Contest" created by Margot Slocum and Peg Benepe as a fund raiser for the Santa Monica Friends Meeting House.

  <p>It was 1961 and the music-only event attracted 26 Five-String Banjo Pickers, Five Fiddlers, Four Judges and more then 500 eager fans to Ian Thiermann's place amid the native oaks known as "Friendly Acres." It was such great fun, everyone agreed the contest was a wonderful idea and the contest would have to be put on again and again.
  </p>
</div>