<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <span class="d-block w-100" style="background: blue" alt="First slide">ONE</span>
    </div>
    <div class="carousel-item">
      <span class="d-block w-100" style="background: blue" alt="Second slide">TWO</span>
    </div>
    <div class="carousel-item">
      <span class="d-block w-100" style="background: blue" alt="Third slide">THREE</span>
    </div>
  </div>
</div>